<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        .navbar-right{
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">GameStation - магазин компьютерных игр</a>
        @Html.Action("GameCartSummary", "Cart")
    </div>
    <div class="row panel">
        <div id="genres" class="col-xs-3">
            @Html.Action("Menu", "Nav")
        </div>

        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>
